<body>
<app-navbar></app-navbar>

<div class="frame">
  <h1>Add new Friends!</h1>
  <div class="container">
    <div class="topnav">
      <input type="text" [(ngModel)]="searchTerm" placeholder="Search..." (input)="applyFilter()">
      <button  (click)="toFriendList()"  >Friendlist</button>
      <button class="active-button" >Add Friends</button>
      <button (click)="toFriendRequest()">Friend Requests</button>
    </div>
  </div>


  <table>
    <thead>
    <tr>
      <th>Friends</th>

      <th>Options</th>

    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let row of (searchTerm ? filteredTableData : tableData)">
      <td>{{ row[0] }} </td>

      <td>
        <button (click)="addFriend(row[1])">Add</button>
      </td>
      <td>
          <button >See Friendlist</button>
      </td>

    </tr>
    <tr *ngIf="(searchTerm ? filteredTableData : tableData)?.length === 0">
      <td colspan="5">There are no available friends :(</td>
    </tr>
    </tbody>
  </table>

</div>
</body>
