body{
  background-color: #080710;
}


.chart{
  margin-top: 30px;
}

.pieChart{
  display:flex;
  margin-left: 700px;
}



h2{
  margin-left: 500px;
  margin-top: 20px;
  padding: 30px;
  color: white;
}
