body{
  background-color: #080710;
}

h2{
  margin-left: 100px;
  margin-bottom: 60px;
  margin-top: 20px;
  padding: 30px;
  color: #f09819;
}


button{
  transition: color 0.5s ease;
  margin-top: 30px;
  margin-left: 40px;
  background-color: #f09819;
  color: white;
  padding: 12px;
  font-size: 16px;
  border-radius: 20px;
  border-color: white;
  cursor: pointer;
}
.button-pdf{
  transition: color 0.5s ease;

  width: 180px;
  background-color: #080710;
  color: white;

  font-size: 18px;
  font-weight: 500;
  border-radius: 50px;
  cursor: pointer;
  margin-right: 20px;

}
