body {
  background-color: white;


}


button {
  border: 1px solid black;
  border-radius: 5px;
  color: white;
  padding: 7px;
  margin-left: 10%;
  margin-right: auto;
  overflow: hidden;
  text-decoration: none;
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
  display: block;
  margin-top: 30px;
  font-weight: 500;
  width: 310px;

  &:hover {
    background-color: white;
    color: orange;

  }

}

.frame{
  background-color: black;
  height: 100%;

}

.huetten-button {
  background-color: orange ;
}

.rettung-button{
  background-color: red;
}

.knoten-button{
background-color: darkblue;
}

.frame .left-frame {


  top: 100%;
  left: 10%;
  width: 30%;
  background: black;
  box-shadow: 0 3px 25px hsla(0, 0, 0, 0.2);
  overflow: hidden;
  display: block;
  border-bottom-right-radius: 50px;
}

.frame .right-frame{
  height: 92%;
  background: white;
}


.map-container {
  position: absolute;
  top: 8%;
  left: 22%;
  right: 0;
  bottom: 0;

}

.map-frame {
  border: 2px solid black;
  height: 100%;
}

#map {
  height: 100%;
}


