<link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
      integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="
      crossorigin=""/>
<body>

<div class="frame">
  <app-navbar></app-navbar>
  <div class="left-frame">
    <button class="huetten-button" (click)="huettenAnzeige()">Schutzhütten im Aachener Wald</button>
    <button class="rettung-button" (click)="rettungAnzeige()">Rettungspunkte im Aachener Wald</button>
    <button class="knoten-button"  (click)="knotenAnzeige()">Knotenpunkte im Aachener Wald</button>
<!--    <button class="delete-button"  (click)="deleteAllMarkers()">Lösche alle Punkte</button>-->
    <div class="map-container">
      <div class="map-frame">
        <div id="map"></div>
      </div>
    </div>
  </div>

</div>




</body>
