<body>
  <app-navbar></app-navbar>
<div class="section" id="profilblockTitel"    >

  <div class="upper-card">
    <img [src]="profileImageUrl" class="profilePicture"  height="100px" width="auto">

    <label class="custom-file-upload" >
      Profilbild hochladen
      <input #imageInput  value="Upload" class="d-none"
             type="file"
             accept="image/*"
             (change)="onFileSelected(imageInput.files)">
    </label>


    <h1 class="name-header"> {{userVorname +" " + userNachname}} </h1>



  </div>

</div>


<div class="section" id="profilblock">
  <div class="profile-input">
    <p class="prompt">Email:</p>
    <p class="displayed-input" id="email">{{email}}</p>
    <button class="edit-button" (click)="editEmail()">Ändern..</button>
  </div>
  <div class="profile-input">
    <p class="prompt">Geburtsdatum:</p>
    <p class="displayed-input" id="birthdate">{{dateOfBirth}}</p>
    <button class="edit-button" (click)="editDateOfBirth()">Ändern..</button>
  </div>
</div>


<div
  class="section" id="favDatensatzTitel" >
  <h4> Mein Lieblingsdatensatz: </h4>
</div>

  <div class="section" id="favDatensatzBlock">
    <table>
      <thead>
      <tr>
        <th>Tabellenname</th>
        <th>Jahr</th>
        <th></th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>{{ tableData[0] }}</td>
        <td>{{ tableData[1] }}</td>
        <td>
          <button (click)="openTable(tableData[2])">Open</button>
        </td>
      </tr>
      <tr *ngIf="tableData.length === 0">
        <td colspan="3">No data available</td>
      </tr>
      </tbody>
    </table>
  </div>

</body>


