<body>
  <app-navbar></app-navbar>
<div class="section" id="profilblockTitel"    >

  <div class="upper-card">
    <img [src]="url" class="profilePicture"  height="100px" width="auto">

    <label class="custom-file-upload" >
      Profilbild hochladen
      <input #imageInput  value="Upload" class="d-none"
             type="file"
             accept="image/*"
             (change)="onFileSelected(imageInput.files)">
    </label>


    <h1 class="name-header"> {{userVorname +" " + userNachname}} </h1>



  </div>

</div>


<div class="section" id="profilblock">
  <div class="profile-input">
    <p class="prompt">Email:</p>
    <p class="displayed-input" id="email">{{email}}</p>
    <button class="edit-button" (click)="editEmail()">Ändern..</button>
  </div>
  <div class="profile-input">
    <p class="prompt">Geburtsdatum:</p>
    <p class="displayed-input" id="birthdate">{{dateOfBirth}}</p>
    <button class="edit-button" (click)="editDateOfBirth()">Ändern..</button>
  </div>
</div>


<div class="section" id="favDatensatzTitel" >
  <h4> Mein Lieblingsdatensatz: </h4>
</div>

<div class="section" id="favDatensatzBlock" >
  <button>Datensatz auswählen</button>
</div>

</body>


