<body>
  <app-navbar></app-navbar>
<div class="section" id="profilblockTitel"    >
  <div class="upper-card">
    <img [src]="profileImageUrl" class="profilePicture"  height="100px" width="auto" *ngIf="menuType==='user'">
    <h1 class="name-header"> {{userVorname +" " + userNachname}} </h1>
    <button class="privacy-button" (click)="setPrivate()">Privacy </button>
  </div>
</div>

<div class="section" id="profilblock">
  <div class="profile-input">
    <p class="prompt">Email:</p>
    <p class="displayed-input" id="email">{{email}}</p>
  </div>
  <div class="profile-input" *ngIf="menuType==='user'">
    <p class="prompt">Geburtsdatum:</p>
    <p class="displayed-input" id="birthdate">{{dateOfBirth}}</p>
  </div>
</div>

<div
  class="section" id="favDatensatzTitel" >
  <h4> Mein Lieblingsdatensatz: </h4>
</div>
  <div class="section" id="favDatensatzBlock">
    <table>
      <thead>
      <tr>
        <th>Tabellenname</th>
        <th>Jahr</th>
        <th>Options</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>{{ tableData[0] }}</td>
        <td>{{ tableData[1] }}</td>
        <td>
          <button (click)="openTable(tableData[2], tableData[3])">Open</button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>

  <div class="diagrammAnsicht" >
    <div class="kreisdiagramm">
      <canvasjs-chart [options]="chartOptions" [styles]="{width: '100%', height:'360px'}"></canvasjs-chart>


      <button (click)="getSterbefaelleP()">Sterbefälle Pie</button>
      <button (click)="getGeburtenP()">Geburten Pie</button>
      <button (click)="getArbeitsloseP()">Arbeitslose Pie</button>
      <button (click)="getArbeitssuchendeP()">Arbeitssuchende Pie</button>
    </div>


    <div id="chartContainer2" class="balkendiagramm">
      <button (click)="getSterbefaelleC()">Sterbefälle Bar</button>
      <button (click)="getGeburtenC()">Geburten Bar</button>
      <button (click)="getArbeitsloseC()">Arbeitslose Bar</button>
      <button (click)="getArbeitssuchendeC()">Arbeitssuchende Bar</button>
    </div>


  </div>


</body>


