<app-navbar></app-navbar>

<div class="container col-md-6">
  <h1> Registration </h1>
  <form (ngSubmit)="userRegister()">
      <div class="mb-3">
          <label for="exampleFormControlInput1" class="form-label">Vorname</label>
          <input type="name" [(ngModel)]="user.vorname" [ngModelOptions]="{standalone: true}" class="form-control" id="vorname" placeholder="Vorname">
      </div>
      <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Nachname</label>
        <input type="name" [(ngModel)]="user.nachname" [ngModelOptions]="{standalone: true}" class="form-control" id="nachname" placeholder="Nachname">
      </div>
      <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Email address</label>
        <input type="email" [(ngModel)]="user.eMail" [ngModelOptions]="{standalone: true}" class="form-control" id="eMail" placeholder="name@example.com">
      </div>
      <div class="mb-3">
          <label for="exampleFormControlInput1" class="form-label">Passwort</label>
          <input type="password" [(ngModel)]="user.password" [ngModelOptions]="{standalone: true}" class="form-control" id="password" placeholder="Passwort">
      </div>
      <button type="submit" class="btn btn-primary">Register</button>

  </form>
</div>