<app-navbar></app-navbar>
<body>
  <form>
    <h3> Registration </h3>
    <div (ngSubmit)="userRegister()">
        <div class="mb-3">
            <label for="vorname" class="form-label">Vorname: </label>
            <input type="name" [(ngModel)]="user.vorname" [ngModelOptions]="{standalone: true}" class="" id="vorname" placeholder="Vorname">
        </div>
        <div class="mb-3">
          <label for="nachname" class="form-label">Nachname: </label>
          <input type="name" [(ngModel)]="user.nachname" [ngModelOptions]="{standalone: true}" class="" id="nachname" placeholder="Nachname">
        </div>
        <label for="birthday">Birthday:</label>
        <input type="date" [(ngModel)]="user.birthdate" [ngModelOptions]="{standalone: true}" class=""id="birthday" name="birthday">

        <div class="mb-3">
          <label for="email" class="form-label">Email address: </label>
          <input type="email" [(ngModel)]="user.eMail" [ngModelOptions]="{standalone: true}" class="" id="eMail" placeholder="name@example.com">
        </div>
        <div class="mb-3">
            <label for="password" class="form-label">Passwort:</label>
            <input type="password" [(ngModel)]="user.password" [ngModelOptions]="{standalone: true}" class="" id="password" placeholder="Passwort">
        </div>
        <button type="submit" class="btn btn-primary">Register</button>

      </div>
    </form>
</body>