<body>
<app-navbar></app-navbar>

<div class="frame">
  <h1>new friendships?</h1>
  <div class="container">
    <div class="topnav">
      <input type="text" [(ngModel)]="searchTerm" placeholder="Search..." (input)="applyFilter()">
      <button (click)="toFriendList()">Friendlist</button>
      <button (click)="toFriendAdd()">Add Friends</button>
      <button class="active-button" >Friend Requests</button>
    </div>
  </div>


  <table>
    <thead>
    <tr>
      <th>Friends</th>
      <th>Options</th>

    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let row of (searchTerm ? filteredTableData : tableData)">
      <td>{{ row[3] }}</td>
      <td>
        <button (click)="acceptFriend(row[4])" >Accept</button >
      </td>
      <td>
        <button (click)="declineFriend(row[4])">Decline</button>
      </td>
    </tr>
    <tr *ngIf="(searchTerm ? filteredTableData : tableData)?.length === 0">
      <td colspan="5">Nothing new...</td>
    </tr>
    </tbody>
  </table>

</div>
</body>
