<body>
<app-navbar></app-navbar>

<div class="frame">
  <h1>Your Friends!</h1>
<div class="container">
  <div class="topnav">
    <input type="text" [(ngModel)]="searchTerm" placeholder="Search..." (input)="applyFilter()">
    <button class="active-button" >Friendlist</button>
    <button (click)="toFriendAdd()">Add Friends</button>
    <button (click)="toFriendRequest()">Friend Requests</button>
    <button class="privacy-button" (click)="setPrivate()">Privacy </button>
  </div>
</div>


<table>
  <thead>
  <tr>
    <th>Friends</th>

    <th>Options</th>

  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let row of (searchTerm ? filteredTableData : tableData)">
    <td>{{ row[3] }}</td>

    <td>
      <button (click)="openChat()">Open Chat</button>
    </td>
    <td>
        <button (click)="deleteFriend(row[4])">Delete Friend</button>
    </td>
    <td>
      <button (click)="showFriendslist(row[0],row[4])">Open Friendlist</button>
    </td>
  </tr>
  <tr *ngIf="(searchTerm ? filteredTableData : tableData)?.length === 0">
    <td colspan="5">You have no friends right now :(</td>
  </tr>
  </tbody>
</table>

</div>
</body>
