<div class="card my-5">
  <div class="card-body">
    <form (ngSubmit)="onSubmit()" #studentForm="ngForm">
      <div class="form-group">
        <label for="firstname">Vor Name</label>
        <input type="text" [(ngModel)]="student.firstName"
               class="form-control"
               id="firstname"
               name="firstname"
               placeholder="Vorname"
               required #firstname="ngModel">
      </div>

      <button type="submit" [disabled]="!studentForm.form.valid"
              class="btn btn-info">Submit</button>
    </form>
  </div>
</div>
