

<body>
    <app-navbar></app-navbar>


  <div class="container">
      <div class="topnav">
        <input type="text" placeholder="Search..">
        <button class="button">Datensatz verlinken</button>
        <button class="button"><a routerLink="/table">Back to Home</a></button>
      </div>
  </div>






    <table>
      <thead>
      <tr>
        <th *ngFor="let header of tableData[0]">{{ header }}</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let row of tableData.slice(1)">
        <td *ngFor="let cell of row">{{ cell }}</td>
      </tr>
      </tbody>
    </table>
  </body>
