
<body>
<app-navbar></app-navbar>
<div class="post-list">
  <h2>{{ post.title }}</h2>
  <ul>
    <li>
      <h3>{{ post.category }}</h3>
      <p>{{ post.content }}</p>
    </li>
  </ul>
</div>
<div class="post-comments">
  <h3>Comments</h3>
  <div class="comment-input">
    <input type="text" [(ngModel)]="newComment" placeholder="Write a comment">
    <button (click)="addComment()">Add Comment</button>
  </div>
  <div class="comment-list">
    <ul>
      <li *ngFor="let comment of comments">
        <p>{{ comment }}</p>
      </li>
    </ul>
  </div>
</div>
</body>
