body {
  background-color: #080710 ;
  background-size: cover;


.button{
  border: dimgrey;
  border-radius: 30px;
  color: orange;
  background-color: dimgrey;
  padding:7px;
  margin-top:10px;
  margin-left: auto;
  margin-right: auto;
  box-shadow: black;

}

  .topnav input[type=text] {
    margin-left: 380px;
    padding: 6px;
    border: #080710;
    border-radius: 30px;
    margin-top: 15%;
    margin-right: 16px;
    font-size: 17px;
  }

table {
  display: table;
  vertical-align: middle;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  border-collapse: collapse;
  border-spacing: 0;
  width: 70%;
  border: 1px solid dimgrey;
}

  th, td {
    text-align: left;
    color: white;
    padding: 16px;
  }

  tr:nth-child(even) {
    background-color: #f09819;
  }
}

