<app-navbar></app-navbar>

<body>

<div class="topnav">
  <input type="text" placeholder="Search..">
  <button class="button">Datensatz verlinken</button>
</div>

  <table>
    <tr>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Points</th>
      <th>Optionen</th>
    </tr>
    <tr>
      <td>a</td>
      <td>b</td>
      <td>50</td>
      <button class="button"> bearbeiten</button>
    </tr>
    <tr>
      <td>c</td>
      <td>d</td>
      <td>94</td>
      <button class="button"> bearbeiten</button>
    </tr>
    <tr>
      <td>e</td>
      <td>f</td>
      <td>67</td>
      <button class="button"> bearbeiten</button>
    </tr>

  </table>






</body>
