

<body>
  <app-navbar></app-navbar>


<div class="container">
    <div class="topnav">
      <input type="text" placeholder="Search..">
      <button class="button">Datensatz verlinken</button>
    </div>
  <div class="container-content">

  
  <button class="b" style="background-color: Orange;">CSV</button>
  <button class="b">XML</button>
  <label class="bUpload">Choose CSV File
    <input   value="Upload" class="d-none" type="file">
  </label>

  </div>
</div>






  <table>
    <tr>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Sort by</th>
    </tr>
    <tr>
      <td>a</td>
      <td>b</td>
      <td>50</td>
    </tr>
    <tr>
      <td>c</td>
      <td>d</td>
      <td>94</td>
    </tr>
    <tr>
      <td>e</td>
      <td>f</td>
      <td>67</td>
    </tr>
  </table>
</body>
