<body>
  <app-navbar></app-navbar>


<div class="container">
    <div class="topnav">
      <input type="text" [(ngModel)]="searchTerm" placeholder="Search..." (input)="applyFilter()">
      <button class="button">Datensatz verlinken</button>
      <button class="button"><a routerLink="/table">Back to Home</a></button>
    </div>
</div>


  <table>
    <thead>
      <tr>
        <th>Tablename</th>
        <th>Years</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let row of (searchTerm ? filteredTableData : tableData)">
        <td>{{ row[0] }}</td>
        <td>{{ row[1] }}</td>
        <td><button (click)="openTable(row[2])">Open</button></td>
      </tr>
      <tr *ngIf="(searchTerm ? filteredTableData : tableData)?.length === 0">
        <td colspan="3">No data available</td>
      </tr>
    </tbody>
  </table>
</body>
