<app-navbar></app-navbar>

<div class="balkendiagramm">
 <!-- <canvasjs-chart [options]="chartOptions" [styles]="{width: '100%', height:'360px'}"></canvasjs-chart>-->
</div>

<div id="chartContainer" style="height: 300px; width: 100%;"></div>
<button (click)="getData(1)">datensatz 1</button>
<button (click)="getData(2)">datensatz 2</button>
<button (click)="getData(3)">datensatz 3</button>
<button (click)="getData(4)">datensatz 4</button>
<button (click)="getData(5)">datensatz 5</button>
<button (click)="getData(6)">datensatz 6</button>

